{% extends 'base.html' %}

{% set _title = 'Alert' %}

{% block title %}{{ _title }}{% endblock %}

{% block content %}
<div class="page-title">
    <h3><i class="teal fas fa-laptop"></i> {{vuln.data.ip}}:{{vuln.data.port}}</h3>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">{{ _title }}</div>
            <div class="card-body">
                
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="details-tab" data-toggle="tab"
                            href="#details" role="tab"
                            aria-controls="details" aria-selected="false">Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mitigation-tab" data-toggle="tab"
                            href="#result" role="tab"
                            aria-controls="result" aria-selected="true">Result</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mitigation-tab" data-toggle="tab"
                            href="#mitigation" role="tab"
                            aria-controls="mitigation" aria-selected="true">Mitigation</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="details" role="tabpanel" aria-labelledby="details-tab">
                        {% if vuln %} {{ vuln.data.rule_desc }}. {% endif %}
                    </div>
                    <div class="tab-pane fade" id="result" role="tabpanel" aria-labelledby="result-tab">
                        {% if vuln %} {{ vuln.data.rule_details }}. {% endif %}
                    </div>
                    <div class="tab-pane fade" id="mitigation" role="tabpanel" aria-labelledby="mitigation-tab">
                        {% if vuln %} {{ vuln.data.rule_mitigation }} {% endif %}
                    </div>
                    
                    <hr>
                    
                    <a href="{{ url_for('alert.view_resolve_alert', alert_id=vuln.key) }}">
                        <button type="button" class="btn btn-square btn-success mb-2">Resolve</button>
                    </a>
                </div><!-- #myTabContent -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_body_javascript %}
    <script src="{{ url_for('static', filename='vendor/DataTables/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/initiate-datatables.js') }}"></script>
{% endblock %}
