{% extends 'base.html' %}

{% set _title = 'Assets' %}

{% block title %}{{ _title }}{% endblock %}

{% block extra_meta %}
    {% if refresh_interval %}<meta http-equiv="refresh" content="{{ refresh_interval }}">{% endif %}
{% endblock %}

{% block extra_head_css %}
<link href="{{ url_for('static', filename='vendor/DataTables/datatables.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-between">
    <div class="page-title flex-fill">
        <h3>{{ _title }}</h3>
    </div>
    <div>
        <label class="sr-only" for="refresh_interval">Refresh Interval (seconds)</label>
        <div class="input-group mb-2 mr-sm-2">
            {% if refresh_interval %}
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-spinner fa-spin"></i>
                </div>
            </div>
            {% endif %}
            <input type="number" step="5" min="0" max="300" size="15" class="form-control"
                id="refresh_interval" data-toggle="tooltip" value="{% if refresh_interval %}{{ refresh_interval }}{% else %}0{% endif %}"
                title="0 for manual refresh, multiples of 5 up to a maximum of 300 seconds">
            <div class="input-group-append">
                <div class="input-group-text">
                    <a id="do_refresh_interval" class="text-decoration-none" href="#">
                        <i class="fas fa-sync-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">{{ _title }}</div>
            <div class="card-body">
                {% if data %}
                <table class="table table-hover" id="dataTables-assets" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>IP Address</th>
                            <th>Domain</th>
                            <th>Ports</th>
                            <th>Services</th>
                            <th>Operating System</th>
                        </tr>
                    </thead>
                    {% for d, values in data.items() %}
                    <tr>
                        <td>{{loop.index}}.</td>
                        <td>{{d[4:]}}<a class="mx-1 text-decoration-none" href="https://geoiplookup.io/geo/{{d[4:]}}" target="_blank"><i class="fas fa-search-location"></i></a></td>
                        <td>
                            {% if values.domain %}
                            {{values.domain}}<a class="mx-1 text-decoration-none" href="https://whois.domaintools.com/{{values.domain}}" target="_blank"><i class="fas fa-search"></i></a>
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <td>
                            {% for port in values.ports %}
                            <span class="badge badge-info font-weight-bold h6">{{port}}</span>
                            {% endfor %}
                        </td>
                        <td>
                            {% for key, value in values.port_data.items() %}
                            <span class="badge badge-secondary font-weight-bold h6">{{value.product}}</span>
                            {% endfor %}
                        </td>
                        <td>
                            {% if values.os %}
                            <span class="badge badge-primary font-weight-bold h6">{{ values.os }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <span class="font-weight-bold">
                    {% if status == "Ready" %}
                    No scan in progress.
                    {% else %}
                        {% if refresh_interval %}
                        <i class="fas fa-spinner fa-spin mx-1"></i>Loading...
                        {% else %}
                        No data to display. Tip: enable auto-refresh.
                        {% endif %}
                    {% endif %}
                </span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_body_javascript %}
    <script src="{{ url_for('static', filename='vendor/DataTables/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/initiate-datatables.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip(); 

            $('#do_refresh_interval').on('click', function(e) {
                e.preventDefault();
                var refreshInterval = $('#refresh_interval').val();

                if (!isNaN(refreshInterval)) {
                    var baseUrl = "{{ url_for('assets.view_assets') }}";
                    var newUrl = baseUrl + '/' + refreshInterval;
                    window.location.href = newUrl;
                }
            });
            
            {% if data %}
            initDataTable('#dataTables-assets');
            {% endif %}
        });
    </script>
{% endblock %}