{% extends 'base.html' %}

{% set _title = 'Dashboard' %}

{% block title %}{{ _title }}{% endblock %}

{% block extra_meta %}
{% if status != "Ready" %}
<meta http-equiv="refresh" content="60">{% endif %}
{% endblock %}

{% block extra_head_css %}
<link href="{{ url_for('static', filename='vendor/chartsjs/Chart.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="icon-big text-center">
                            <i class="teal fas fa-laptop"></i>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="detail text-center">
                            <p>Hosts Discovered</p>
                            <span class="number">{{ hosts|length }}</span>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <div class="stats">
                        <i class="fas fa-redo-alt"></i> Since Last Assessment
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="icon-big text-center">
                            <i class="olive fas fa-microscope"></i>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="detail text-center">
                            <p>Scans Executed</p>
                            <span class="number">{{ scan_count.decode('utf-8') }}</span>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <div class="stats">
                        <i class="fas fa-calendar"></i> Since Last System Reset
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="icon-big text-center">
                            <i class="violet fas fa-eye"></i>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="detail text-center">
                            <p>Last Scanned</p>
                            <span class="number">
                                <span style="font-size:17px"><b>{{ last_scan.decode('utf-8') }}</b></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <div class="stats">
                        <i class="fas fa-stopwatch"></i> Since Last Assessment
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="icon-big text-center">
                            <i class="orange fas fa-bug"></i>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="detail text-center">
                            <p>Total Vulnerabilities</p>
                            <span class="number"><a class="c-red" href="{{ url_for('vulnerabilities.view_vulns') }}">{{vulns|length}}</a></span>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <div class="stats">
                        <i class="fas fa-fire-extinguisher"></i> Since Last Assessment
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    {% if vulns %}
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="content">
                <div class="head">
                    <h4 class="mb-0">Vulnerability Distribution</h4>
                </div>
                <div class="canvas-wrapper">
                    <canvas class="chart" id="doughnutchart"></canvas>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if radar %}
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="content">
                <div class="head">
                    <h4 class="mb-0">Port Distribution</h4>
                </div>
                <div class="canvas-wrapper">
                    <canvas class="chart" id="radar"></canvas>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>

<div class="row">

    {% if networks and domains %}
    <div class="col-md-6">
        <div class="card">
            <div class="content">

                {% if networks %}
                <div class="head">
                    <h4 class="mb-0">Networks Scanned</h4>
                    <p class="text-muted">Your last assessment included these networks</p>
                </div>
                <div class="canvas-wrapper">
                    <table class="table no-margin bg-lighter-grey">
                        <thead class="success">
                            <tr>
                                <th></th>
                                <th class="text-right">Networks</th>
                            </tr>
                            </thead>
                            
                            {% for network in networks %}
                        <tbody>
                            <tr>
                                <td><i class="fa fa-network-wired"></i></td>
                                <td class="text-right">{{network}}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                        
                    </table>
                </div>
                {% endif %}
                <br>
                
                {% if domains %}
                <div class="head">
                    <h4 class="mb-0">Domains Scanned</h4>
                    <p class="text-muted">Your last assessment included these domains</p>
                </div>
                <div class="canvas-wrapper">
                    <table class="table no-margin bg-lighter-grey">
                        <thead class="success">
                            <tr>
                                <th></th>
                                <th class="text-right">Domains</th>
                            </tr>
                        </thead>
                            
                            {% for domain in domains %}
                        <tbody>
                            <tr>
                                <td><i class="fa fa-globe"></i></td>
                                <td class="text-right">{{domain}}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
    {% endif %}

    {% if hosts %}
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="content">
                <div class="head">
                    <h4 class="mb-0">Live Hosts</h4>
                    <p class="text-muted">These hosts were identified to be alive</p>
                </div>
                <div class="canvas-wrapper">
                    <table class="table no-margin bg-lighter-grey">
                        <thead class="success">
                            <tr>
                                <th></th>
                                <th class="text-right">IP Addresses</th>
                            </tr>
                        </thead>
                        
                        {% for host in hosts %}
                        <tbody>
                            <tr>
                                <td><i class="fa fa-laptop c-lightgreen"></i></td>
                                <td class="text-right">{{ host.decode('utf-8') }}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}

{% block extra_body_javascript %}
<script src="{{ url_for('static', filename='vendor/chartsjs/Chart.min.js' ) }}"></script>


<script>
    {% if vulns %}
    var donut = document.getElementById("doughnutchart");
    var myChart1 = new Chart(donut, {
        type: 'doughnut',
        data: {
            labels: ["Critical", "High", "Medium", "Low"],
            datasets: [{
                data: {% if chart %}[{{ chart.4 }}, {{ chart.3 }}, {{ chart.2 }}, {{ chart.1 }}]{% else %}[0, 0, 0, 0]{% endif %},
                backgroundColor: ["black", "red", "orange", "green"],
            }]
        },
    options: {
        responsive: true,
            maintainAspectRatio: true,
                legend: { display: true, fullWidth: true, position: 'right',},
        tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    var allData = data.datasets[tooltipItem.datasetIndex].data;
                    var tooltipLabel = data.labels[tooltipItem.index];
                    var tooltipData = allData[tooltipItem.index];
                    var total = 0;
                    var label = tooltipLabel.split(" - ");
                    for (var i in allData) { total += allData[i]; }
                    var tooltipPercentage = Math.round((tooltipData / total) * 100);
                    return label[0] + ' (' + tooltipPercentage + '%)';
                }
            }
        },
    }
    });
    {% endif %}

    {% if radar %}
    var radar = document.getElementById("radar");
    var data_from_python = {{ radar|tojson }};
    var myChart2 = new Chart(radar, {
        type: 'radar',
        data: {
            labels: Object.keys(data_from_python),
            datasets: [{
                label: '',
                backgroundColor: "rgba(48, 164, 255, 0.2)",
                borderColor: "rgba(48, 164, 255, 0.8)",
                pointBackgroundColor: "rgba(48, 164, 255, 1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(48, 164, 255, 1)",
                data: Object.values(data_from_python),
            }]
        },
        options: {
            legend: { position: 'top', display: false, },
            title: { display: true, text: 'Ports' },
            scale: {
                angleLines: {
                    display: false
                },
                ticks: {
                    beginAtZero: true,
                    precision: 0
                }
            }
        }
    });
    {% endif %}
</script>

{% endblock %}