<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <button type="button" id="sidebarCollapse" style="line-height: 1" class="btn btn-outline-light default-light-menu">
        <span style="line-height: 1" class="fas fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown d-flex align-items-center">
                <div class="nav-dropdown">
                    <a href="" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-user-shield"></i>
                        <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                    </a>
                    
                    <div class="dropdown-menu dropdown-menu-right nav-link-menu">
                        <ul class="nav-list">
                            <li>
                                <a href="https://github.com/filippolauria/nervium/issues" class="dropdown-item">
                                    <i class="fas fa-bug mx-1"></i>Report a Bug
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('settings.view_settings') }}" class="dropdown-item">
                                    <i class="fas fa-cog mx-1"></i>Settings
                                </a>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li>
                                <a href="{{ url_for('logout.view_logout') }}" class="dropdown-item">
                                    <i class="fas fa-sign-out-alt mx-1"></i>Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            {% if status != "Ready" and vuln_count > 0 %}
            <li class="nav-item d-flex align-items-center">
                <span class="nav-item nav-link">
                    <a class="btn btn-secondary" href="{{ url_for('vulnerabilities.view_vulns') }}">
                        <i class="fas fa-bell mr-1"></i>
                        <span class="badge badge-light">{{ vuln_count }}</span>
                        <span class="sr-only">Vulnerabilities found</span>
                    </a>
                </span>
            </li>
            {% endif %}

            <li class="nav-item d-flex align-items-center">
                <span class="nav-item nav-link">
                    {% if status == "Ready" %}
                    <span class="navbar-status c-green"><i class="fas fa-smile mx-1"></i>
                    {% else %}
                    <span class="navbar-status c-white"><i class="fa fa-spinner fa-spin mx-1"></i>
                    {% endif %}
                        {{status}}
                    </span> 
                </span>
                
            </li>

        </ul>
    </div>
</nav>
