{% extends 'base.html' %}

{% set _title = 'Reports' %}

{% block title %}{{ _title }}{% endblock %}

{% block content %}
<div class="page-title">
    <h3>{{ _title }}</h3>
</div>

<p class="lead">
    Below you can download your latest assessment report in various formats.
</p>

<div class="row">

    <div class="col-sm-6 col-md-3">
        <div class="card">
            <div class="card-header"><strong>Detailed Report (HTML)</strong></div>
            <div class="card-body d-flex justify-content-center">
                <a href="{{ url_for('download.view_download', file='report_html') }}">
                    <img src="{{ url_for('static', filename='img/report.png') }}" class="img-fluid" alt="Report HTML" />
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="card">
            <div class="card-header"><strong>Raw Report (TXT)</strong></div>
            <div class="card-body d-flex justify-content-center">
                <a href="{{ url_for('download.view_download', file='report_txt') }}">
                    <img src="{{ url_for('static', filename='img/report_txt.png') }}" class="img-fluid" alt="Report TXT" />
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="card">
            <div class="card-header"><strong>Raw Report (CSV)</strong></div>
            <div class="card-body d-flex justify-content-center">
                <a href="{{ url_for('download.view_download', file='report_csv') }}">
                    <img src="{{ url_for('static', filename='img/report_csv.png') }}" class="img-fluid" alt="Report CSV" />
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card">
            <div class="card-header"><strong>Raw Report (XML)</strong></div>
            <div class="card-body d-flex justify-content-center">
                <a href="{{ url_for('download.view_download', file='report_xml') }}">
                    <img src="{{ url_for('static', filename='img/report_xml.png') }}" class="img-fluid" alt="Report XML" />
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}