<div class="wrapper">
    <nav id="sidebar" class="d-flex flex-column">
        <div class="d-flex align-items-end justify-content-center m-2">
            <a href="{{ url_for('index.view_index') }}">
                <h1 class="text-uppercase text-logo text-white h3 my-0 mx-1">{{ APP_NAME }}</h1>
            </a>
            <small class="badge badge-secondary">{{ version }}</small>
        </div>

        <ul class="list-unstyled components flex-grow-1">
            <li>
                <a class="d-flex align-items-center justify-content-start" href="{{ url_for('qs.view_qs') }}">
                    <i class="fas fa-home my-1"></i><span class="d-none d-md-inline">Quick Start</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center justify-content-start" href="{{ url_for('dashboard.view_dashboard') }}">
                    <i class="fas fa-rocket my-1"></i><span class="d-none d-md-inline">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center justify-content-start" href="{{ url_for('assets.view_assets') }}">
                    <i class="fas fa-laptop my-1"></i><span class="d-none d-md-inline">Assets</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center justify-content-start" href="{{ url_for('assessment.view_assessment') }}">
                    <i class="fas fa-crosshairs my-1"></i><span class="d-none d-md-inline">Assessment</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center justify-content-start" href="{{ url_for('topology.view_topology') }}">
                    <i class="fas fa-network-wired my-1"></i><span class="d-none d-md-inline">Network Topology</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center justify-content-start" href="{{ url_for('vulnerabilities.view_vulns') }}">
                    <i class="fas fa-bug my-1"></i><span class="d-none d-md-inline">Vulnerabilities</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center justify-content-start" href="{{ url_for('reports.view_reports') }}">
                    <i class="fas fa-file my-1"></i><span class="d-none d-md-inline">Reports</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center justify-content-start" href="{{ url_for('console.view_console') }}">
                    <i class="fas fa-desktop my-1"></i><span class="d-none d-md-inline">Console</span>
                </a>
            </li>
            <li>
                <a href="#authmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down">
                    <i class="fas fa-university my-1"></i><span class="d-none d-md-inline">Documentation</span>
                </a>
                <ul class="collapse list-unstyled" id="authmenu">
                    <li>
                        <a class="d-flex align-items-center justify-content-start" href="{{ url_for('documentation.view_doc', _anchor='gui') }}">
                            <i class="fas fa-info my-1"></i><span class="d-none d-md-inline">Usage</span>
                        </a>
                    </li>
                    <li>
                        <a class="d-flex align-items-center justify-content-start" href="{{ url_for('documentation.view_doc', _anchor='api') }}">
                            <i class="fas fa-code my-1"></i><span class="d-none d-md-inline">Developer API</span>
                        </a>
                    </li>
                </ul>
            </li>
            {% if frequency == "continuous" %}
            <li>
                <a class="d-flex align-items-center justify-content-start" href="{{ url_for('startover.view_startover') }}">
                    <i class="fas fa-history my-1"></i><span class="d-none d-md-inline">Reset System</span>
                </a>
            </li>
            
            <hr>
            
            <div class="text-center">
                <span class="scan_type_indicator">Continuous Scan Mode</span>
            </div>
            {% endif %}
        </ul>
        
        <div class="text-center mt-auto mb-3">
            <a class="d-flex align-items-center justify-content-center p-2 bg-white text-decoration-none"
                href="https://github.com/filippolauria/nervium" target="_blank">
                <i class="fas fa-star text-warning mr-1"></i><span class="d-none d-md-inline">Star us on GitHub</span>
            </a>
        </div>
    </nav>
</div>
